node_modules/
.cache/
coverage/
dist/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
STATIC/
STATIC_1.01/
STATIC_DEMO/
STATIC_JP/
STATIC_REGRET/
STATIC_REGRET_DEMO/

!STATIC/
!STATIC/readme.md
#!STATIC_1.01/
!STATIC_1.01/readme.md
#!STATIC_DEMO/
!STATIC_DEMO/readme.md
#!STATIC_JP/
!STATIC_JP/readme.md
#!STATIC_REGRET/
!STATIC_REGRET/readme.md
